* {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: black;
}

.container {
    position: relative;
    text-align: center;
}

.container-img {
    width: 100%;
    opacity: 0.45;
}

.home-img {
    position: absolute;
    top: 18%;
    right: 40%;
    border-radius: 50%;
    width: 20%;
    border: 4px solid white;
}

.sub-header {
    position: absolute;
    top: 52%;
    left: 49%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 2vw;
    word-spacing: 1px;
    letter-spacing: 1px;
    text-transform: capitalize;
  }
  
  .header {
    margin-top: 3%;
    position: absolute;
    top: 58%;
    left: 49%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    color: rgb(255, 165, 0);
    font-weight: bold;
    font-size: 5vw;
    word-spacing: 5px;
    letter-spacing: 2px;
    text-transform: capitalize;
  }
  
  .header hr {
    margin-top: 2%;
    height: 0.25vw;
    background-color:rgb(255, 255, 255)
  }
  
  .sub-header2 {
    margin-top: 5%;
    position: absolute;
    top: 68%;
    left: 49%;
    transform: translate(-50%, -50%);
    color:rgb(255, 255, 255);
    font-weight: bold;
    font-size: 2vw;
    word-spacing: 5px;
  }

  nav {
    margin-top: 0%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 2vh;
    font-family: 'Raleway', sans-serif;
    background-color: orange;
    
}


.nav-links {
    display: flex;
    justify-content: space-around;
    width: 100%;


}

.nav-links a{
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 2vw;
    color: black;
}

.nav-links a:hover {
    color: white;
}

.nav-links li {
    list-style: none;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 2px;
    background-color: black;
    margin: 5px;

}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
}

@media screen and (max-width: 1024px) {
    .nav-links {
        width: 80%;
    }
}


@media screen and (max-width: 768px) {
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translate(100%);
        transition: transform 0.5s ease-in;
        background-color: orange;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}


.code-icons {
    margin-left: auto;
    margin-right: auto;
}

.code-icons th, td {
    padding: 12vw;
    font-size: 8vw;
}

.python-icon p {
    color:white;
    text-align: center;
}

.js-icon p {
    color:white;
}

.html-icon p {
    color:white;
    
}

.code-icons2 {
    margin-top: -15%;
    margin-left: auto;
    margin-right: auto;
}

.react-icon {
  margin-top: -5%;
  width: 9%;
  font-weight: bolder;
  display: block;
  margin-left: 47%;
  margin-right: 38%;
  font-size: 8vw;
}

.django-icon {
  color: orange;
}

.body-header {
  margin-top: 7%;
  display: flex;
  color: teal;
  justify-content: space-between;
  font-size: 2vw;
  width: 57%;
  margin-left: 10%;
  text-transform: uppercase;
  text-decoration: underline;
  letter-spacing: 2px;
}

.body-sub-header {
  margin-top: 1%;
  display: flex;
  color: whitesmoke;
  justify-content: space-between;
  font-size: 3vw;
  text-transform: uppercase;
  width: 88%;
  margin-left: 10%;
  text-align: left;
}


.polyglot-text {
  word-wrap: break-word;
  width: 45%;
}



.aboutme-text {
  word-wrap: break-word;
  width: 52%;
}


.body-paragraph {
  margin-top: 1%;
  display: flex;
  color: grey;
  justify-content: space-between;
  font-size: 3vw;
  margin-left: 10%;
  text-align: left;
}

.polyglot-paragraph {
  word-wrap: break-word;
  width: 45%;
}

.aboutme-paragraph {
  margin-top: -12%;
  margin-right: 26%;
  float: right;
  color: #808080;
  font-size: 1.25vw;
  cursor: pointer;
  
}

.projects-header {
    margin-top: 15%;
    color: orange;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 5vw;
    text-decoration: none;
    
}

.projects-header a {
    text-decoration: none;
}

.projects-header a:hover {
    color: white;
}

.matt-site {
    margin-top: 10%;
    margin-left: 25%;
    width: 50%;
}

.project-title1 {
    margin-top: 2%;
    text-align: center;
    font-size: 4vw;
    text-decoration: none;
    color: teal;
    font-family: 'Raleway', sans-serif;
}

.project-paragraph1 {
    margin-top: 2%;
    color: grey;
    text-align: center;
    font-size: 3vw;
    margin-left: 25%;
    justify-content: center;
    margin-right: 25%;
    font-family: 'Raleway', sans-serif;
}

.quinn-site {
    margin-top:20%;
    margin-left: 35%;
    width: 30%;
}

.project-title2 {
    margin-top: 2%;
    text-align: center;
    font-size: 4vw;
    text-decoration: none;
    color: teal;
    font-family: 'Raleway', sans-serif;
}

.project-paragraph2 {
    margin-top: 2%;
    color: grey;
    text-align: center;
    font-size: 3vw;
    margin-left: 25%;
    justify-content: center;
    margin-right: 25%;
    font-family: 'Raleway', sans-serif;
}

.starwars {
    margin-top: 20%;
    margin-left: 28%;
    width: 50%;
}


.project-title3 {
    margin-top: 2%;
    text-align: center;
    font-size: 4vw;
    text-decoration: none;
    color: teal;
    font-family: 'Raleway', sans-serif;
}

.project-paragraph3 {
    margin-top: 2%;
    color: grey;
    text-align: center;
    font-size: 3vw;
    margin-left: 25%;
    justify-content: center;
    margin-right: 25%;
    font-family: 'Raleway', sans-serif;
}

.social-header {
    margin-top: 35%;
    font-size: 5vw;
    color: teal;
    text-align: center;
}

.socials {
    margin-top: 10%;
    text-align: center;
    color: orange;
    font-size: 4vw;

}


.github-icon {
    display: block;
    margin-top: 5%;
    margin-left: 48%;
    font-size: 5vw;

}
footer {
    text-align: center;
    margin-top: 10%;
    margin-bottom:5%;
}


footer a {
    color: orange;
    font-size: 3vw;
    text-align: center;
    padding: 3vw;
    text-decoration: none;
}

footer a:hover {
    color: teal;
}

