{% extends 'mysites/base.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'mysites/css/contact.css'%}">
    <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?faly=miRaleway:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'fontawesome/css/all.min.css'%}">
    <title>contact</title>
</head>
<body id="bg"style="background-image: url('{% static 'mysites/img/header-img.jpeg'%}');">
    <div class="contact-section">
        <h1>Contact me</h1>
        
        <h3>If you're interested in working with me, feel free to contact me below.</h3>
        
        <div class="email-container">
            <a class="email" href="mailto:"><i class="fa fa-envelope"></i>franklinjonescodes@gmail.com</a>
        </div>
        
        <div class="border"></div>
        <form class="contact-form" action="" method="POST">
            {% csrf_token %}
            <input type="text" class="contact-form-text" placeholder="Your Name" name="full-name">
            <input type="email" class="contact-form-text" placeholder="Your Email" name="email">
            <input type="text" class="contact-form-text" placeholder="Subject" name="subject">
            <textarea class="contact-form-text" placeholder="Type Your Message" name="message"></textarea>
            <input type="submit" class="contact-form-btn" value="Send Message">
        </form>
    </div>
    
    <h1 class="social-header">Follow Me</h1> 
    <div class="socials">
        <a href="https://github.com/FranklinJamesJones89" target="blank"><i class="fab fa-github" style="color:white;"></i></a>
        <a href="https://twitter.com/Fjones89James" target="blank"><i class="fab fa-twitter" style="color:white;"></i></a>
        <a href="https://www.linkedin.com/in/franklin-jones-156539220/" target="blank"><i class="fab fa-linkedin" style="color:white;"></i></a>
    </div>



    <footer>
        <a href="{% url 'mysites:index' %}">home</a>
        <a href="{% url 'mysites:projects' %}">projects</a>
        <a href="https://github.com/FranklinJamesJones89">github</a>
        <a href="{% url 'mysites:contact' %}">contact</a>
        <a href="{% url 'mysites:about' %}">about</a>
    </footer>
</body>
</html>

{% endblock content %}