{% extends 'quinns/base.html' %}
{% block content %}
{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'quinns/css/styles.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" type="text/css" href="{% static 'fontawesome/css/all.min.css'%}">
    <title>quinnyum</title>
</head>

<body>
    <img class="quinn-img" src="{% static 'quinns/img/quinn.jpeg'%}" alt="A picture of Quinn Haymen">
    <div class="social">
        <a href="https://www.instagram.com/quinnbeebeauty/?utm_medium=copy_link" target="blank"><i
                class="fab fa-instagram fa-2x"></i></a>
    </div>

    <div class="box">
        <h3>Hi! I'm Quinn!</h3>
        <p>Skilled cosmetologist of 5 years. I offer a range of services for men and women: eyelashes, eyebrow care, and
            all things beauty.
        </p>
        <a class="email" href="mailto:"><i class="fa fa-envelope"></i>quinnbeebeautyfl@gmail.com</a>
        <br>
        <a class="phone" href="tel:4076178582"><i class="fa fa-phone"></i>407-617-8582</a>
    </div>
    
    <img class="girl" src="{% static 'quinns/img/girl9.jpeg'%}" alt="woman">
    <img class="girl" src="{% static 'quinns/img/girl7.jpeg'%}" alt="woman">
    <img class="girl" src="{% static 'quinns/img/girl4.jpeg'%}" alt="woman">
    <img class="girl" src="{% static 'quinns/img/girl3.jpeg'%}" alt="woman">
    <img class="girl" src="{% static 'quinns/img/girl6.jpeg'%}" alt="woman">
    <img class="girl" src="{% static 'quinns/img/girl1.jpeg'%}" alt="woman">
    <img class="girl" src="{% static 'quinns/img/girl5.jpeg'%}" alt="woman">
    <img class="girl" src="{% static 'quinns/img/girl2.jpeg'%}" alt="woman">

    <div class="services-container">
        <h1 class="services-header"><a href="{% url 'quinns:services'%}">Services</a></h1>
        <h3 class="services-sub-header">Below is a list of services I offer. If you have any further questions please
            don't hesistate to reach out by phone or email</h3>
        <div class="services">

            <div class="service1">
                <h3>Lash Extensions Classic - $120</h3>
            </div>
            <div class="service2">
                <h3>Lash Extensions Hybrid - $130</h3>
            </div>
            <div class="service3">
                <h3>Lash Extension Mega Volume - $140</h3>
            </div>
            <div class="service3">
                <h3>Lash Fill - 80$</h3>
            </div>
            <div class="service3">
                <h3>Lash Lift - $110</h3>
            </div>
            <div class="service3">
                <h3>Lash Tint - 80$</h3>
            </div>
            <div class="service3">
                <h3>Lash Treatment - $30</h3>
            </div>
            <div class="service3">
                <h3>Lash Bath - $30</h3>
            </div>
            <div class="service3">
                <h3>Brow Tint - $80</h3>
            </div>
            <div class="service3">
                <h3>Brow Lamination - $80</h3>
            </div>
            <div class="service3">
                <h3>Bridal w/Airbrush - Price Varies</h3>
            </div>
            <div class="service3">
                <h3>Bridal w/o Airbrush - $65</h3>
            </div>
            <div class="service3">
                <h3>Event or Bridal Trial Run - $65</h3>
            </div>
            <div class="service3">
                <h3>1 Hr Makeup Session - $75</h3>
            </div>
            <div class="service3">
                <h3>2 Hr Makeup Session - $125</h3>
            </div>
            <div class="service3">
                <h3>Facial Waxing - $40</h3>
            </div>
            <div class="service3">
                <h3>30 Min Facial - $80</h3>
            </div>
            <div class="service3">
                <h3>60 Min Facial - $100</h3>
            </div>
        </div>
    </div>

    <div class="book-box">
        <img class="book-img" src="{% static 'quinns/img/salon-img.jpeg'%}" alt="Image of a salon">
        <div class="book-btn">
            <button class="book-link"><a href="https://quinn-bee-beauty.square.site" target="blank">book</a></button>
        </div>
    </div>

    <h1 class="contact-header"><a href="{% url 'quinns:contact' %}" class="contact-title">Contact</a></h1>
    <div class="contact-container">
        <form action="" method="POST" class="contact-form">
            <div class="form-control">
                {% csrf_token %}
                <div class="tag">Full Name</div>
                <input type="text" name="full-name">
            </div>

            <div class="form-control">
                {% csrf_token %}
                <div class="tag">Email</div>
                <input type="text" name="email">
            </div>

            <div class="form-control">
                {% csrf_token %}
                <div class="tag">Subject</div>
                <input type="text" name="subject">
            </div>

            <div class="form-control">
                {% csrf_token %}
                <div class="tag">Message</div>
                <input type="text" name="message" class="message-box">
            </div>

            <div class="form-control">
                {% csrf_token %}
                <div class="tag"></div>
                <input type="submit" class="btn submit-btn" value="Send Message">
            </div>
        </form>
    </div>

    <div class="map">
        <h1>Come see me!</h1>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d25895663.485556163!2d-95.665!3d37.599999999999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1648755789458!5m2!1sen!2sus"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <div class="footer">
        <h1>Follow Me on Social Media</h1>
    </div>

    <div class="social-footer">
        <a href="https://www.instagram.com/quinnbeebeauty/?utm_medium=copy_link"><i
                class="fab fa-instagram fa-2x"></i></a>
    </div>

    <ul class="footer-links">
        <li>
            <a href="{% url 'quinns:index'%}">home</a>
        </li>
        <li>
            <a href="https://quinn-bee-beauty.square.site/" target="blank">book</a>
        </li>
    </ul>

    <ul class="footer-links2">
        <li>
            <a href="{% url 'quinns:services'%}">services</a>
        </li>
        <li>
            <a href="{% url 'quinns:contact'%}">contact</a>
        </li>
        <li>
            <a href="{% url 'quinns:about'%}">about</a>
        </li>
    </ul>

    <!--Javascript-->
    <script src="{% static 'quinns/js/apps.js'%}">
    </script>
</body>

</html>

{% endblock content %}